In [23]:
import pandas as pd

data={
    "Name":["Anupam","Anshu","Aryan","Ayush","Abhinav"],
    "Age":[17,None,17,18,None],
    "Salary":[54000,23000,45600,None,None]

}
df=pd.DataFrame(data)
# print(df)

print(df.isnull().sum())
drop_df=df.dropna()
print(drop_df)
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Salary"].fillna(df["Salary"].mean(),inplace=True)
print(df)

Name      0
Age       2
Salary    2
dtype: int64
     Name   Age   Salary
0  Anupam  17.0  54000.0
2   Aryan  17.0  45600.0
      Name        Age        Salary
0   Anupam  17.000000  54000.000000
1    Anshu  17.333333  23000.000000
2    Aryan  17.000000  45600.000000
3    Ayush  18.000000  40866.666667
4  Abhinav  17.333333  40866.666667

C:\Users\ay846\AppData\Local\Temp\ipykernel_17432\475607008.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)
C:\Users\ay846\AppData\Local\Temp\ipykernel_17432\475607008.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(),inplace=True)

In [24]:
from sklearn.preprocessing import LabelEncoder 
import pandas as pd

df=pd.read_csv("sample_data.csv")

df_label=df.copy()
le=LabelEncoder()
# df_label["Gender_encoded"]=le.fit_transform(df_label["Gender"])
# df_label["Passed_encoded"]=le.fit_transform(df_label["Passed"])

# print("\n Lable Encoded data")
# print(df_label[["Name","Gender","Gender_encoded","Passed","Passed_encoded"]].head())

df_encoded=pd.get_dummies(df_label,columns=["City"])
print("\n One-Hot Encoded data")
# print(df_encoded.head())
df_encoded=df_encoded[["City_Bangalore","City_Chennai","City_Delhi","City_Mumbai"]].astype(int)
print(df_encoded)

 One-Hot Encoded data
    City_Bangalore  City_Chennai  City_Delhi  City_Mumbai
0                0             0           1            0
1                0             0           0            1
2                1             0           0            0
3                0             0           0            1
4                0             0           1            0
5                0             1           0            0
6                1             0           0            0
7                0             0           1            0
8                0             1           0            0
9                0             0           0            1
10               0             1           0            0
11               0             0           1            0
12               0             0           0            1
13               1             0           0            0
14               0             0           1            0
15               0             0           0            1
16               0             1           0            0
17               0             0           1            0
18               0             0           1            0
19               1             0           0            0